/* body {
    background-color: #1d1b1b;
    color: white;
} */

#bars {
    display: flex;
    justify-content: center;
}

/* #rangeValue1 {
    font-size: xx-small;
    display: inline-block;
}

#rangeValue2 {
    font-size: xx-small;
    display: inline-block;
} */